.search-scores__card {
    margin-bottom: 24px;
    border-radius: 12px;

    .ant-card-head-title {
        font-size: 18px;
        font-weight: 700;
    }
}

.search-scores__input {
    width: 450px;
    max-width: 100%;
}